<form method="post" action="{{ path('jdd_webhook_subscriber_delete', {'id': webhook_subscriber.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ webhook_subscriber.id) }}">
    <button class="btn">Delete</button>
</form>
